[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/dsa-testcases"]
	path = external/dsa-testcases
	url = https://github.com/sauravstark/dsa-testcases.git
